body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 125px;
    padding-right: 125px;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    display: flex;
}

.hero {
    background-color: #1f2937;
    color: white;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    padding: 5px 125px;
}

.hero-left {
    padding-right: 50px;
}

ul {
    list-style-type: none;
    color: #e5e7eb;
}

li {
    padding-right: 20px;
}

h2 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-text {
    font-size: 18px;
    color: #e5e7eb;
}


.hero-btn {
   background-color: #3882f6;
   color: #e5e7eb;
   padding-top: 5px;
   padding-bottom: 5px;
   padding-right: 10px;
   padding-left: 10px;
   border-radius: 4px;
   border-width: 0;
}

.content-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.card-illustration {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: #3882f6;
    border-radius: 6px;
    margin-bottom: 5px;
    
}

.selected {
    transform: scale(1.1);
    border-color: #ffc600;
  }

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 79px;
}

.cards {
    display: flex;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100px;
    padding: 10px;
    padding-bottom: 25px;
}

.card-illustration{
    transition: all 0.35s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    font-size: 14px;
}

.quote {
    
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 79px;
    padding-bottom: 79px;
}

.quote-text {
    width: 480px;
    font-size: 24px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    padding-bottom: 5px;    
}

.quoter {
    font-weight: bold;
    text-align: right;
    background-color: #e5e7eb;
    width: 480px;
}

.action {
    background-color: #3882f6;
    color: #f9faf8;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 79px 125px;
    border-radius: 6px;
    padding: 25px 50px;
}

.action-main {
    font-weight: bold;
}

.action-sub {
    font-weight: 100;
    font-size: 14px;
    padding-top: 5px;
    
}

.action-btn {
        background-color: #3882f6;
        color: #e5e7eb;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 4px;
        border-width: 1;
        border-color: #ffffff;
        border-style: solid;
}